.clock {
  font-size: 10em;
  margin: 0;
  user-select: none;
}

@media screen and (max-width: 600px) {
  .clock {
    font-size: 7em;
  }
}

@media screen and (max-height: 600px) {
  .clock {
    font-size: 7em;
  }
}
