.headerContainer {
  text-align: center;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  transition: 0.3s;
}

.middleContent {
  transform: translateY(20%);
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: -webkit-fill-available;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.2);
}

.header {
  color: white;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.bg-image {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  min-height: -webkit-fill-available;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 0.3s;
  background-color: black;
  -webkit-background-size: cover;
}

.mainHeader {
  font-size: 100px;
}

.subHeader {
  font-size: 90px;
  margin-top: -30px;
}

.headerText {
  width: 100%;
  max-width: 800px;
}

.header-btn {
  cursor: pointer;
  margin-top: 10px;
  font-size: 1em;
  padding: 10px;
  background-color: transparent;
  border: solid white 2px;
  transition: 0.3s;
  outline: none;
}

.header-btn:hover {
  color: black;
  background-color: white;
}

@media screen and (max-width: 750px) {
  .mainHeader {
    font-size: 43px;
  }

  .subHeader {
    font-size: 38px;
    margin-top: -15px;
  }

  .headerText {
    max-width: 460px;
  }
}

@media screen and (max-width: 600px) {
  .headerContainer {
    top: 200px;
  }

  .mainHeader {
    font-size: 33px;
  }

  .subHeader {
    font-size: 28px;
    margin-top: -10px;
  }

  .headerText {
    width: 100%;
  }
}

@media screen and (max-height: 750px) {
  .headerContainer {
    top: 200px;
  }
}
