.headerContainer {
  /* display: inline-block; */
  text-align: center;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  /* text-shadow: 0 1px 0 black; */
}

.middleContent {
  transform: translateY(20%);
  height: 300px;
}

.gradient{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  /* background: linear-gradient(to right, rgba(255, 0, 0, 0.65), transparent); */
   /* background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.3) 100%); */
   /* background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.25) 10%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.25) 30%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 60%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.25) 90%, rgba(0,0,0,0.5) 100%); */
   /* background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0.1) 80%, rgba(0,0,0,0.2) 90%, rgba(0,0,0,0.3) 100%); */
/* background:     linear-gradient(90deg,
  rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.3)
) */
background: rgba(0, 0, 0, 0.2);
}


.header{
  color: white;
  transition:all .5s ease-in-out; 
  -o-transition:all .5s ease-in-out; 
  -moz-transition:all .5s ease-in-out; 
  -webkit-transition:all .5s ease-in-out;
}

.image2 {
  width:100vw;
  min-height: 500px; 
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 0.3s;
  background-color: black;
}

.mainHeader {
  font-size: 100px;
}

.subHeader {
  font-size: 90px;
  margin-top: -30px;

}

.headerText {
  width: 100%;
  max-width: 800px;
}

.header-btn{
  cursor: pointer;
  margin-top: 10px;
  font-size: 1em;
  padding: 10px;
  background-color: transparent;
  border: solid white 2px;
  transition: 0.3s;
  outline: none;
}

.header-btn:hover{
color:black;
background-color: white;
}


@media screen and (max-width: 1100px) {
  .mainHeader {
    font-size: 60px;
    padding-left: 1px;
  }

  .subHeader{
    font-size: 53px;
    margin-top: -20px;
  }

  .headerText {
    padding-left: 2px;
    max-width: 640px;
  }
}

@media screen and (max-width: 750px) {
  .mainHeader {
    font-size: 43px;
  }

  .subHeader{
    font-size: 38px;
    margin-top: -15px;
  }

  .headerText {
    max-width: 460px;
  }
}

@media screen and (max-width: 600px) {
  .headerContainer {
    top: 200px;
      }

      
  .mainHeader {
    font-size: 33px;
  }

  .subHeader{
    font-size: 28px;
    margin-top: -10px;
  }

  .headerText {
    width: 100%;
  }


}
