.linksContainer{
    padding: 10px 0px;
}

.links-btn{
    margin: 0px 20px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.links-btn i{
    padding-right: 5px;
}

.links-btn:hover{
    opacity: 1;
}

.links-bubble-content{
    color:black;
    text-shadow: none;
}
