.mainFocusContainer {
  margin-top: 50px;
  font-size: 40px;
  height: 130px;
}

.mainFocusContainer input {
  font-size: 40px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  transition: 0.3s;
  text-align: center;
  border-radius: 0;
}

.todayGoalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelBtn {
  margin-left: 10px;
  padding: 8px 10px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
  visibility: none;
  opacity: 0;
}

.cancelBtn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.cancelBtn i {
  font-size: 15px;
}

.rotate {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.goalText {
  cursor: default;
  transition: 0.3s;
}

.strikethroughGoalText {
  text-decoration: line-through;
  text-shadow: none;
}

.goalSuccessText {
  font-size: 20px;
  visibility: hidden;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
}

.fadeInOutAnim {
  animation: fadeInOutAnim 3s;
}

.fadeOutAnim {
  animation: fadeOutAnim 0.7s;
}

.fadeInAnim {
  animation: fadeInAnim 0.7s;
}

@keyframes fadeInOutAnim {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  20% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOutAnim {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeInAnim {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 800px) {
  .mainFocusContainer,
  .mainFocusContainer input {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .mainFocusContainer,
  .mainFocusContainer input {
    font-size: 20px;
  }

  .cancelBtn,
  .checkmarkContainer {
    visibility: visible;
    opacity: 1;
  }

  .mainFocusContainer {
    margin-top: 20px;
  }

  .goalSuccessText {
    font-size: 15px;
  }
}

@media screen and (max-height: 600px) {
  .mainFocusContainer {
    margin-top: 10px;
    height: 80px;
  }

  .mainFocusContainer,
  .mainFocusContainer input {
    font-size: 20px;
  }

  .cancelBtn,
  .checkmarkContainer {
    visibility: visible;
    opacity: 1;
  }

  .goalSuccessText {
    font-size: 15px;
  }
}
