.namefieldContainer {
  display: flex;
  justify-content: center;
  margin-top: -25px;
  padding: 0px 10px;
  flex-wrap: wrap;
}

.namefieldContainer input {
  background-color: transparent;
  text-align: center;
  outline: none;
  border: none;
  font-size: 50px;
  border-bottom: 2px solid white;
  width: 200px;
}

.nameText {
  width: auto;
  font-size: 50px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
  min-width: 50px;
}

.nameText:hover {
  border-bottom: 2px solid white;
}

.greetingText {
  font-size: 50px;
}

.nameText-blank {
  border-bottom: 2px solid white;
  min-width: 200px;
  cursor: text;
}

@media screen and (max-width: 800px) {
  .nameText,
  .greetingText,
  .namefieldContainer input {
    font-size: 40px;
  }

  .namefieldContainer input {
    width: 150px;
  }

  .nameInput {
    width: 100px;
  }

  .nameText-blank {
    min-width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .nameText,
  .greetingText,
  .namefieldContainer input {
    font-size: 25px;
  }

  .namefieldContainer input {
    width: 100px;
  }

  .nameInput {
    width: 100px;
  }

  .nameText-blank {
    min-width: 100px;
    height: 25px;
  }
}

@media screen and (max-height: 600px) {
  .nameText,
  .greetingText,
  .namefieldContainer input {
    font-size: 25px;
  }

  .namefieldContainer input {
    width: 100px;
  }

  .nameInput {
    width: 100px;
  }

  .nameText-blank {
    min-width: 100px;
    height: 25px;
  }

  .namefieldContainer {
    margin-top: 0;
  }
}
