.nameInput{
    background-color: transparent;
    text-align: center;
    outline: none;
    border: none;
    font-size: 50px;
    border-bottom: 2px solid white;
width: 200px;
}

.nameText{
    width: auto;
    font-size: 50px;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    min-width: 50px;
}

.nameText:hover{
    border-bottom: 2px solid white;
}

.namefieldContainer{
display: flex;
justify-content: center;
padding: 0px 10px;
flex-wrap: wrap;
}