.settingButtonContainer {
  display: flex;
  align-items: center;
}

.setting {
  font-size: 25px;
  margin: 0px 20px;
  cursor: pointer;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.settingButtonContainer p i {
  color: white;
  opacity: 0.7;
  transition: 0.3s;
}

.settingButtonContainer p i:hover {
  opacity: 1;
}

.setting-content {
  color: black;
  text-shadow: none;
}

.rotateSetting {
  animation: rotationSetting 4s infinite linear;
}

.settingContainer {
  display: flex;
  padding: 5px 0px;
  align-items: center;
}

.setting-header {
  text-align: left;
  padding: 5px 0px;
}

.setting-header h3 {
  font-weight: normal;
}

.setting-header i {
  padding: 0px 10px;
}

.settingContainer input {
  margin-left: auto;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  text-shadow: none;
  background-color: #e63946;
  border-radius: 5px;
  transition: 0.3s;
}

.settingContainer input:hover {
  background-color: #cf333f;
}

@keyframes rotationSetting {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
