.todoContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Todo button for popover */
.todo-btn {
  margin: 0px 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

.todo-btn:hover {
  opacity: 1;
}

/*********Todo Bubble*********/
.todo-header {
  text-align: left;
  padding: 5px 0px;
}

.todo-header h3 {
  font-weight: normal;
}

.todo-header i {
  padding: 0px 10px;
}

.todo-content {
  color: black;
  text-shadow: none;
}

.todo-list {
  text-align: left;
}

/* Todo-list */
.todo {
  background: #fff;
  padding: 5px 0px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.todo p {
  margin: 0px 10px 0px 25px;
  overflow: hidden;
}

.todo-text-completed {
  text-decoration: line-through;
}

.todo button {
  padding: 5px 8px;
  border-radius: 50%;
  border: none;
  margin-left: auto;
  cursor: pointer;
  background-color: #e6e6e6;
  transition: 0.3s;
}

.todo button:hover {
  background-color: #cccccc;
}

/* Todo Form */
.todo-input {
  margin: 5px 0px;
  outline: none;
  width: 100%;
  padding: 2px;
  font-weight: lighter;
  border: none;
  font-size: 18px;
}

.no-todo-container {
  margin: 50px 0px 100px 0px;
  text-align: center;
}

.no-todo-btn {
  padding: 7px 12px;
  margin-top: 10px;
  text-shadow: none;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #344fa1;
}

.no-todo-btn:hover {
  background-color: #4861aa;
}
