.todoContainer{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.todo{
    margin: 0px 20px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}

.todo:hover{
  opacity: 1;
}

