.top-row{
    display: flex;
    position:absolute;
    flex-direction: row;
    top:0px;
    width: 100%;
padding-top: 10px;
    /* height: 60px; */
}



.top-left{
width: 50%;
display: flex;
}

.top-right{
    width: 50%;
    display: flex;
}


@media screen and (max-width: 600px) {
    .top-row {     flex-direction: column; }
    .top-left { order: 1;
        width: 100%; }
    .top-right { order: 2; 
        width: 100%; }

}