.top-row {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 10px;
  flex-wrap: wrap;
}

.top-left {
  width: 70%;
  display: flex;
}

.top-right {
  width: 30%;
  display: flex;
}

@media screen and (max-width: 600px) {
  .top-left {
    order: 1;
    width: 100%;
  }
  .top-right {
    order: 2;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}
