.weatherContainer{
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: column;
padding: 0px 10px;
cursor: pointer;

}

.weatherText{

    opacity: 1;
    transition: 0.3s;
    font-size: 15px;
}

.weather-icon{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.weather-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.temp{
    font-weight: normal;
    font-size: 25px;
}